<main>
  <section class="my-decks">
    <h2>Your Decks</h2>
    <div id="deck-list">
      <!-- Decks will be dynamically populated here -->
    </div>
    <form id="new-deck-form">
      <input type="text" id="new-deck-name" placeholder="New Deck Name">
      <button type="submit">Create New Deck</button>
    </form>
  </section>
</main>

<script src="/js/myDecks.js"></script>
