<main>
  <section class="my-decks">
    <h1>Your Decks</h1>
    <div class="deck-list">
      {{#each decks}}
        <div class="deck-item">
          <h3>{{this.name}}</h3>
          <button onclick="location.href='/deck-builder?deckId={{this.id}}'">Edit Deck</button>
          <button class="remove-button" data-id="{{this.id}}">Delete Deck</button>
        </div>
      {{/each}}
    </div>
    <form class="create-deck">
      <input type="text" id="new-deck" placeholder="New Deck Name">
      <button type="submit">Create Deck</button>
    </form>
  </section>
</main>

<script src="/js/create-deck.js"></script>
